<h1 class="all_contacts">All Contacts</h1>
<ul>
  <% @contacts.each do |contact| %>
      <li> <%= contact.first_name %>
        <%=contact.last_name %>
        <div>Email: <%= contact.email %></div>
        <div>Note: <%= contact.note %></div>
        <div><a class="id_link" href="/contacts/<%= contact.id %>"> ID: <%= contact.id %></a></div>  </li>
    <%end%>
</ul>
