<h1 class="new">Edit a Contact</h1>

<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <div>First Name: <input type="text"  name="first_name" value="<%= @contact.first_name %>"></div>
  <div> Last Name: <input type="text" name="last_name" value="<%= @contact.last_name %>"></div>
  <div> Email: <input type="text" name="email" value="<%= @contact.email %>"></div>
  <div> Note: <input type="text" name="note" value="<%= @contact.note %>"></div>
  <div><input class="button" type="submit" value="Edit Contact"></div>
</form>
