<p class="contact"><%= @contact.first_name %> <%= @contact.last_name %></p>
<p class="contact">Email: <%= @contact.email %></p>
<p class="contact">Note: <%= @contact.note %></p>
<p class="contact">ID: <%= @contact.id %></p>

<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Contact">
</form>

<form  action="/contacts/<%= @contact.id %>/edit" method="get">
  <input type="submit" value="Edit Contact">
</form>

<form action="/" method="get">
  <input type="submit" value="Go Back">
</form>
