<p class="contact"><%= @contact.first_name %> <%= @contact.last_name %></p>
<p class="contact">Email: <%= @contact.email %></p>
<p class="contact">Note: <%= @contact.note %></p>
<p class="contact">ID: <%= @contact.id %></p>
